/* 
Reset
*/
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    *{
        /* Supprimer toutes les marges */
        margin: 0;
        padding: 0;

        /* Intégrer les bordure et les padding dans la taille de balise (bloc/boite) */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Ramener la valeur 1rem à 10px */
    html{
        font-size: 62.5%; /* => 10px = 1rem */
    }

    body{
        font-size: 1.5rem; /* => 15px */
        font-family: serif;
        color: white;
        background-color: #131313;
    }

    /* Faire en sorte que les images ne soient jamais plus grandes que leur parent */
    img{
        max-width: 100%;
    }

    h1, h2, h3{
        font-family: 'Arial', sans-serif;
    }

    a{
        text-decoration: none;
    }

    ul{
        list-style-type: none;
    }
/**/


/* 
HEADER
*/
    header{
        /* Ajouter une image de fond */
        background-image: url('../img/background.jpg');
        
        /* Gérer la taille de l'image de fond */
        background-size: 100%; /* => 100% de la largeur de HEADER */

        /* Gérer la répétition de l'image de fond */
        background-repeat: no-repeat;

        /* Faire en sorte que le HEADER fasse la hauteur de la fenêtre */
        height: 100vh;
    }

    #siteLogo{
        /* Changer le type de balise */
        display: block;
        width: 4rem;
    }
/**/