/* 
Reset
*/
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    *{
        /* Supprimer toutes les marges */
        margin: 0;
        padding: 0;

        /* Intégrer les bordure et les padding dans la taille de balise (bloc/boite) */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Ramener la valeur 1rem à 10px */
    html{
        font-size: 62.5%; /* => 10px = 1rem */
    }

    body{
        font-size: 1.5rem; /* => 15px */
        font-family: serif;
        text-align: center;
        color: white;
        background-color: #131313;
    }

    /* Faire en sorte que les images ne soient jamais plus grandes que leur parent */
    img{
        max-width: 100%;
    }

    h1, h2, h3{
        font-family: 'Arial', sans-serif;
        text-transform: uppercase;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    ul{
        list-style-type: none;
    }
/**/


/* 
HEADER
*/
    header{
        /* Ajouter une image de fond */
        background-image: url('../img/background.jpg');
        
        /* Gérer la taille de l'image de fond */
        background-size: 100%; /* => 100% de la largeur de HEADER */

        /* Gérer la répétition de l'image de fond */
        background-repeat: no-repeat;

        /* Faire en sorte que le HEADER fasse la hauteur de la fenêtre */
        height: 100vh;

        /* Bloquer les balises enfants dans le HEADER */
        position: relative;
    }

    h1{
        font-size: 5rem;

        position: absolute;
        top: 50%;
        left: 50%;

        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    h1 span{
        font-size: .5em;
        font-family: serif;
        font-weight: 100;

        /* Changer le type de balise pour faire passer le SPAN à la ligne */
        display: block;
    }

    #siteLogo{
        /* Changer le type de balise */
        display: block;
        width: 4rem;
        padding-top: 2rem;
    }

    nav, section{
        /* Définir la largeur max de la nav */
        max-width: 80rem;

        /* Centrer dans la largeur une balise BLOCK réduite */
        margin: auto;
    }

    nav ul{
        /* Sortir la balise du flux pour la figer en haut à droite */
        position: fixed;
        top: 0;
        right: -13.5rem;

        height: 100vh;
        padding: 4rem;
        background-color: #131313;
    }

    nav button{
        font-size: 2rem;
        color: white;
        padding: 1rem;
        background-color: rgba(0, 0, 0, .5);
        border: none;

        /* Sortir la balise du flux pour la figer en haut à droite */
        position: fixed;

        /* Gestion de l'ordre des balises */
        z-index: 1;

        top: 2rem;
        right: 2rem;
    }
/**/


/* 
MAIN
*/
    section{
        margin-bottom: 15rem;
        padding-top: 2rem;
    }

    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    main ul{
        max-width: 30rem;
        margin: auto;
    }

    main li {
        margin-bottom: 1rem;
    }

    .callToAction {
        font-size: 1.8rem;
        color: black;
        background-color: #eea136;
        padding: 1rem;
        margin-top: 1rem;
        display: inline-block;
        border-bottom: .5rem solid #b77d2c;
    }

    figure {
        display: inline-block;
        width: 30%;
        border: 1rem solid #131313;

        /* Bloquer les enfants dans le parent */
        position: relative;
    } 

    figcaption {
        background-color: rgba(0, 0, 0, .5);
        width: 45%;
        padding: 1rem;

        position: absolute;
        top: 50%;
        left: 50%;

        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    figcaption span{
        background-color: black;
        display: block;
    }
/**/